<h1>People to buy gifts for:</h1>

<table id="people-table">
  <tr>
    <th>Name</th>
    <th>Present ideas</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">Add Person</a>