<h1>New person</h1>

<form id="new-person" name="person">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="present_ideas"> present_ideas:</label>
    <input type="text" name="present_ideas" id="present_ideas" value="<%= present_ideas %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Person" />
  </div>

</form>

<a href="#/index">Back</a>