 <div class="jumbotron">
      <br><br><br><br>
        <h1>Christmas Planner</h1>
        <br>
        <p class="lead">Make this Christmas the best one yet!</p>
        <br><br><br>
        <a class="btn btn-large btn-success btn-center" href="/users/sign_up">Register</a>
    </div>

<div class="row features">
  <div class="col-xs-6">
    <p><%= image_tag 'calendar.png' %></p>
    <p class="hometext">Plan your presents, events and activities in the 25 days leading up to Christmas!</p>
  </div>
  <div class="col-xs-6">
    <p><%= image_tag 'star.png' %></p>
    <p class="hometext">Unlock a SURPRISE advent activity/task each day in the 20 days leading up to Christmas!</p>
  </div>
</div>