/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require_calendar
 *= require fullcalendar
 */

.navbar-default {
	background-color: #00A94D;
	border-style: none;
}

.navbar-default .navbar-brand {
	color: white;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color: white;
	background-color: rgba(255,255,255,0.2);
}
.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	color: white;
	background-color: rgba(255,255,255,0.2);
}

.navbar-default .navbar-link {
	color: white;
}

.jumbotron h1, .jumbotron p {
	text-align: center;
	color: white;
}

.btn-center {
	position: relative;
	margin: 0 auto;
	display: block;
	width: 218px;
	height: 56px;
	color: white;
}

.btn a {
	color: white;
}

.jumbotron {
	background-image: url('landingpage.png');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 544px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.features {
	background: linear-gradient(top, #51B36E, #72C28A);
	background: -webkit-linear-gradient(top, #51B36E, #72C28A);
	height: 415px;
}

.col-xs-6 {
	text-align: center;
	margin-top: 50px;
}

.hometext {
	width: 200px;
	margin: 0 auto;
	color: white;
}

.registrationcontainer {
	background: linear-gradient(top, #c00, #f66);
	background: -webkit-linear-gradient(top, #c00, #f66);
	background-size: cover;
	height: 100vh;
}

.registrationform {
	width: 800px;
	position: relative;
	margin: 0 auto;
}
